.piece-queue {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5rem;
}

.queue-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem 0;
}

.queue-row {
  width: 100%;
  display: flex;
}

.queue-block {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
}

.queue-block.occupied {
  border: 1px solid rgba(104, 103, 110, 0.2);
}
