body {
  background: #d4d1c1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-container {
  display: flex;
}

.board-container {
}

.queue-container {
  width: 200px;
}
